.signUp {
  height: 100%;
  width: 100%;
  background-image: url("https://static.vecteezy.com/system/resources/previews/005/585/794/non_2x/abstract-dark-purple-background-overlap-layer-on-dark-space-for-background-design-exclusive-wallpaper-design-for-poster-brochure-presentation-website-etc-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Adjust to your preference */
  /* Add other styles if needed */
}
